.about {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	text-align: center;
}

.about__bio {
	background-color: var(--theme-color);
	border-radius: 0.5rem;
	border-style: groove;
	border-width: 0.1rem;
	color: white;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.about__container {
	padding-bottom: 1.5rem;
} 

.bg-cover {
	background-color: white;
	border-style: groove;
	border-width: 0.1rem 0;
	border-bottom: 0;
	display: grid;
	padding-top: .4rem;
}

.contact {
	background-color: var(--dark-background-color);
	color: white;
	margin-top: 5%;
	padding-top: 2%;
	padding-bottom: 8%;
}

.contact h3.section-title::selection {
	background-color: var(--selection-color)
}

.contact__email-link {
	background-color: black;
	border-color: darkgrey;
	border-radius: 1rem;
	border-style: groove;
	color: white;
	padding: 0.5rem;
	text-decoration: none;
}

.contact__icon-container-link {
	text-decoration: none;
}

.contact__info {
	color: white;
	margin-bottom: 2%;
	margin-top: 2%;
}

.contact__social-links {
	column-gap: 0.5rem;
	display: grid;
	grid-template-columns: repeat(3, 5rem);
	justify-content: center;
}

.skills-tools__description {
	font-size: 1rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

.skills-tools__subsection {
	display: grid;
	padding-left: 1.25%;
}

.skills-tools__subsection:hover {
	filter: invert();
}

.skills-tools__subsection.titled-grid-row {
	margin-bottom: .25rem;
	min-width: 38rem;
}

.skills-tools__subsections-container {
	background-image: linear-gradient(to right, #555555, #ababab9d);
	border-bottom: .2em solid #535353;
	border-top: .2em solid #535353;
}

.skills-tools__subsections-container:hover {
	cursor: default;
}

.skills-tools__subsection__item {
	color:lightgrey;
	display: grid;
	grid-template-rows: 3rem 1fr;
}

.skills-tools__subsection__items-container {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}

.skills-tools__subsection__title {
	color: white;
	font-size: 1.3em;
}

.web-app {
	background-color: var(--theme-color);
	border-color: var(--theme-border-color);
	border-style: solid;
	border-width: .25rem 0 .25rem 0;
	color: white;
/*	display: grid;
	grid-template-rows: 1fr; */
	margin-bottom: 5%;
}

.web-app__app-image {
	max-width: 100%;
	padding: 1.5% 0;
}

.web-app__description {
	font-size: 1rem;
	margin-left: 5%;
	margin-right: 5%;
}

.web-app__description.web-app__description__upper {
	margin-bottom: 0;
}

.web-app__icons-row {
	display: flex;
	flex-wrap: wrap;
	padding-left: 15.5%;
	padding-right: 14%;
}

.web-app__image-panel {
	align-items: center;
	display: grid;
	grid-template-rows: minmax(50%, 100%);
}

.web-app__link-button {
	background-color: black;
	border-color: var(--web-app-button-border-color-dark) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-dark);
	border-radius: 2rem;
	border-style: solid;
	border-width: 0.16rem;
	color: white;
	cursor: pointer;
	flex-grow: 1;
	font-family: var(--theme-font-family);
	font-size: 1.1rem;
	height: 2.5rem;
	margin: .3rem 1rem;
	max-width: 14rem;
	/* min-width: 9rem; */
}

.web-app__link-button:hover {
	animation: web-app__button-hover 1s infinite;
}

.web-app__link-buttons-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 1%;
	justify-content: center;
}

.web-app__subtitle {
	font-family: var(--theme-font-family);
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.web-app__title {
	font-family: var(--theme-font-family);
	font-size: 2rem;
	font-weight: bolder;
	margin: 0;
	padding-top: 1rem;
	text-align: center;
}

@keyframes web-app__button-hover {		
	0% {
		border-color: var(--web-app-button-border-color-dark) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light);
	}
	12% {
		border-color: var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light);
	}
	18% {
		border-color: var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark) var(--web-app-button-border-color-light);
	}
	30% {
		border-color: var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark);
	}
	50% {
		border-color: var(--web-app-button-border-color-light) var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark);
	}
	62% {
		border-color: var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-dark) var(--web-app-button-border-color-dark);
	}
	68% {
		border-color: var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-dark);
	}
	80% {
		border-color: var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light);
	}
	100% {
		border-color: var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light) var(--web-app-button-border-color-light);
	}
}

@media (min-width: 1024px) {
	.skills-tools__subsection.titled-grid-row {
		display: grid;
		grid-template-columns: 13rem 1fr;
	}

	.web-app {
		display: grid;
		grid-template-columns: minmax(160px, 1fr) minmax(160px, 1fr);
	}

	.web-app__content-panel {
		display: grid;
	}
}

@media (orientation: landscape) {
	.bg-cover {
		width: 100%;
	}
}
